<p style="text-align:center">
    <a href="https://skills.network" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo">
    </a>
</p>

<h1 align=center><font size = 5>Assignment: SQL Notebook for Peer Assignment</font></h1>

Estimated time needed: **60** minutes.

## Introduction
Using this Python notebook you will:

1.  Understand the Spacex DataSet
2.  Load the dataset  into the corresponding table in a Db2 database
3.  Execute SQL queries to answer assignment questions

## Overview of the DataSet

SpaceX has gained worldwide attention for a series of historic milestones. 

It is the only private company ever to return a spacecraft from low-earth orbit, which it first accomplished in December 2010.
SpaceX advertises Falcon 9 rocket launches on its website with a cost of 62 million dollars wheras other providers cost upward of 165 million dollars each, much of the savings is because Space X can reuse the first stage. 


Therefore if we can determine if the first stage will land, we can determine the cost of a launch. 

This information can be used if an alternate company wants to bid against SpaceX for a rocket launch.

This dataset includes a record for each payload carried during a SpaceX mission into outer space.

### Download the datasets

This assignment requires you to load the spacex dataset.

In many cases the dataset to be analyzed is available as a .CSV (comma separated values) file, perhaps on the internet. Click on the link below to download and save the dataset (.CSV file):

 <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv" target="_blank">Spacex DataSet</a>

In [20]:
!pip install sqlalchemy==1.3.9

Collecting sqlalchemy==1.3.9
  Using cached SQLAlchemy-1.3.9-cp312-cp312-macosx_13_0_x86_64.whl
Installing collected packages: sqlalchemy
  Attempting uninstall: sqlalchemy
    Found existing installation: SQLAlchemy 2.0.36
    Uninstalling SQLAlchemy-2.0.36:
      Successfully uninstalled SQLAlchemy-2.0.36
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
ipython-sql 0.5.0 requires sqlalchemy>=2.0, but you have sqlalchemy 1.3.9 which is incompatible.
Successfully installed sqlalchemy-1.3.9
Reshimming asdf python...

### Connect to the database

Let us first load the SQL extension and establish a connection with the database

In [21]:
!pip install ipython-sql
!pip install ipython-sql prettytable

Requirement already satisfied: ipython-sql in /Users/camilla/.asdf/installs/python/3.12.1/lib/python3.12/site-packages (0.5.0)
Requirement already satisfied: prettytable in /Users/camilla/.asdf/installs/python/3.12.1/lib/python3.12/site-packages (from ipython-sql) (3.12.0)
Requirement already satisfied: ipython in /Users/camilla/.asdf/installs/python/3.12.1/lib/python3.12/site-packages (from ipython-sql) (8.19.0)
Collecting sqlalchemy>=2.0 (from ipython-sql)
  Using cached SQLAlchemy-2.0.36-cp312-cp312-macosx_10_13_x86_64.whl.metadata (9.7 kB)
Requirement already satisfied: sqlparse in /Users/camilla/.asdf/installs/python/3.12.1/lib/python3.12/site-packages (from ipython-sql) (0.5.3)
Requirement already satisfied: six in /Users/camilla/.asdf/installs/python/3.12.1/lib/python3.12/site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils in /Users/camilla/.asdf/installs/python/3.12.1/lib/python3.12/site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: typing-extensions>=4.6.0 in /Users/camilla/.asdf/installs/python/3.12.1/lib/python3.12/site-packages (from sqlalchemy>=2.0->ipython-sql) (4.12.2)
Requirement already satisfied: greenlet!=0.4.17 in /Users/camilla/.asdf/installs/python/3.12.1/lib/python3.12/site-packages (from sqlalchemy>=2.0->ipython-sql) (3.1.1)
Requirement already satisfied: decorator in /Users/camilla/.asdf/installs/python/3.12.1/lib/python3.12/site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in /Users/camilla/.asdf/installs/python/3.12.1/lib/python3.12/site-packages (from ipython->ipython-sql) (0.19.1)
Requirement already satisfied: matplotlib-inline in /Users/camilla/.asdf/installs/python/3.12.1/lib/python3.12/site-packages (from ipython->ipython-sql) (0.1.6)
Requirement already satisfied: prompt-toolkit<3.1.0,>=3.0.41 in /Users/camilla/.asdf/installs/python/3.12.1/lib/python3.12/site-packages (from ipython->ipython-sql) (3.0.43)
Requirement already satisfied: pygments>=2.4.0 in /Users/camilla/.asdf/installs/python/3.12.1/lib/python3.12/site-packages (from ipython->ipython-sql) (2.17.2)
Requirement already satisfied: stack-data in /Users/camilla/.asdf/installs/python/3.12.1/lib/python3.12/site-packages (from ipython->ipython-sql) (0.6.3)
Requirement already satisfied: traitlets>=5 in /Users/camilla/.asdf/installs/python/3.12.1/lib/python3.12/site-packages (from ipython->ipython-sql) (5.14.0)
Requirement already satisfied: pexpect>4.3 in /Users/camilla/.asdf/installs/python/3.12.1/lib/python3.12/site-packages (from ipython->ipython-sql) (4.9.0)
Requirement already satisfied: wcwidth in /Users/camilla/.asdf/installs/python/3.12.1/lib/python3.12/site-packages (from prettytable->ipython-sql) (0.2.12)
Requirement already satisfied: parso<0.9.0,>=0.8.3 in /Users/camilla/.asdf/installs/python/3.12.1/lib/python3.12/site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: ptyprocess>=0.5 in /Users/camilla/.asdf/installs/python/3.12.1/lib/python3.12/site-packages (from pexpect>4.3->ipython->ipython-sql) (0.7.0)
Requirement already satisfied: executing>=1.2.0 in /Users/camilla/.asdf/installs/python/3.12.1/lib/python3.12/site-packages (from stack-data->ipython->ipython-sql) (2.0.1)
Requirement already satisfied: asttokens>=2.1.0 in /Users/camilla/.asdf/installs/python/3.12.1/lib/python3.12/site-packages (from stack-data->ipython->ipython-sql) (2.4.1)
Requirement already satisfied: pure-eval in /Users/camilla/.asdf/installs/python/3.12.1/lib/python3.12/site-packages (from stack-data->ipython->ipython-sql) (0.2.2)
Using cached SQLAlchemy-2.0.36-cp312-cp312-macosx_10_13_x86_64.whl (2.1 MB)
Installing collected packages: sqlalchemy
  Attempting uninstall: sqlalchemy
    Found existing installation: SQLAlchemy 1.3.9
    Uninstalling SQLAlchemy-1.3.9:
      Successfully uninstalled SQLAlchemy-1.3.9
Successfully installed sqlalchemy-2.0.36
Reshimming asdf python...
Requirement already satisfied: ipython-sql in /Users/camilla/.asdf/installs/python/3.12.1/lib/python3.12/site-packages (0.5.0)
Requirement already satisfied: prettytable in /Users/camilla/.asdf/installs/python/3.12.1/lib/python3.12/site-packages (3.12.0)
Requirement already satisfied: ipython in /Users/camilla/.asdf/installs/python/3.12.1/lib/python3.12/site-packages (from ipython-sql) (8.19.0)
Requirement already satisfied: sqlalchemy>=2.0 in /Users/camilla/.asdf/installs/python/3.12.1/lib/python3.12/site-packages (from ipython-sql) (2.0.36)
Requirement already satisfied: sqlparse in /Users/camilla/.asdf/installs/python/3.12.1/lib/python3.12/site-packages (from ipython-sql) (0.5.3)
Requirement already satisfied: six in /Users/camilla/.asdf/installs/python/3.12.1/lib/python3.12/site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils in /Users/camilla/.asdf/installs/python/3.12.1/lib/python3.12/site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: wcwidth in /Users/camilla/.asdf/installs/python/3.12.1/lib/python3.12/site-packages (from prettytable) (0.2.12)
Requirement already satisfied: typing-extensions>=4.6.0 in /Users/camilla/.asdf/installs/python/3.12.1/lib/python3.12/site-packages (from sqlalchemy>=2.0->ipython-sql) (4.12.2)
Requirement already satisfied: greenlet!=0.4.17 in /Users/camilla/.asdf/installs/python/3.12.1/lib/python3.12/site-packages (from sqlalchemy>=2.0->ipython-sql) (3.1.1)
Requirement already satisfied: decorator in /Users/camilla/.asdf/installs/python/3.12.1/lib/python3.12/site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in /Users/camilla/.asdf/installs/python/3.12.1/lib/python3.12/site-packages (from ipython->ipython-sql) (0.19.1)
Requirement already satisfied: matplotlib-inline in /Users/camilla/.asdf/installs/python/3.12.1/lib/python3.12/site-packages (from ipython->ipython-sql) (0.1.6)
Requirement already satisfied: prompt-toolkit<3.1.0,>=3.0.41 in /Users/camilla/.asdf/installs/python/3.12.1/lib/python3.12/site-packages (from ipython->ipython-sql) (3.0.43)
Requirement already satisfied: pygments>=2.4.0 in /Users/camilla/.asdf/installs/python/3.12.1/lib/python3.12/site-packages (from ipython->ipython-sql) (2.17.2)
Requirement already satisfied: stack-data in /Users/camilla/.asdf/installs/python/3.12.1/lib/python3.12/site-packages (from ipython->ipython-sql) (0.6.3)
Requirement already satisfied: traitlets>=5 in /Users/camilla/.asdf/installs/python/3.12.1/lib/python3.12/site-packages (from ipython->ipython-sql) (5.14.0)
Requirement already satisfied: pexpect>4.3 in /Users/camilla/.asdf/installs/python/3.12.1/lib/python3.12/site-packages (from ipython->ipython-sql) (4.9.0)
Requirement already satisfied: parso<0.9.0,>=0.8.3 in /Users/camilla/.asdf/installs/python/3.12.1/lib/python3.12/site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: ptyprocess>=0.5 in /Users/camilla/.asdf/installs/python/3.12.1/lib/python3.12/site-packages (from pexpect>4.3->ipython->ipython-sql) (0.7.0)
Requirement already satisfied: executing>=1.2.0 in /Users/camilla/.asdf/installs/python/3.12.1/lib/python3.12/site-packages (from stack-data->ipython->ipython-sql) (2.0.1)
Requirement already satisfied: asttokens>=2.1.0 in /Users/camilla/.asdf/installs/python/3.12.1/lib/python3.12/site-packages (from stack-data->ipython->ipython-sql) (2.4.1)
Requirement already satisfied: pure-eval in /Users/camilla/.asdf/installs/python/3.12.1/lib/python3.12/site-packages (from stack-data->ipython->ipython-sql) (0.2.2)
Reshimming asdf python...

In [22]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [23]:
import csv, sqlite3
import prettytable
prettytable.DEFAULT = 'DEFAULT'

con = sqlite3.connect("my_data1.db")
cur = con.cursor()

In [24]:
!pip install -q pandas

Reshimming asdf python...

In [25]:
%sql sqlite:///my_data1.db

In [26]:
import pandas as pd
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv")
df.to_sql("SPACEXTBL", con, if_exists='replace', index=False,method="multi")

101

**Note:This below code is added to remove blank rows from table**

In [27]:
#DROP THE TABLE IF EXISTS

%sql DROP TABLE IF EXISTS SPACEXTABLE;

 * sqlite:///my_data1.db
Done.

[]

In [28]:
%sql create table SPACEXTABLE as select * from SPACEXTBL where Date is not null

 * sqlite:///my_data1.db
Done.

[]

## Tasks

Now write and execute SQL queries to solve the assignment tasks.

**Note: If the column names are in mixed case enclose it in double quotes
   For Example "Landing_Outcome"**

### Task 1




##### Display the names of the unique launch sites  in the space mission

In [29]:
%sql select distinct launch_site from SPACEXTABLE;

 * sqlite:///my_data1.db
Done.

[('CCAFS LC-40',), ('VAFB SLC-4E',), ('KSC LC-39A',), ('CCAFS SLC-40',)]


### Task 2


#####  Display 5 records where launch sites begin with the string 'CCA'

In [30]:
%sql select * from SPACEXTABLE where launch_site like 'CCA%' limit 5;

 * sqlite:///my_data1.db
Done.

[('2010-06-04', '18:45:00', 'F9 v1.0  B0003', 'CCAFS LC-40', 'Dragon Spacecraft Qualification Unit', 0, 'LEO', 'SpaceX', 'Success', 'Failure (parachute)'),
 ('2010-12-08', '15:43:00', 'F9 v1.0  B0004', 'CCAFS LC-40', 'Dragon demo flight C1, two CubeSats, barrel of Brouere cheese', 0, 'LEO (ISS)', 'NASA (COTS) NRO', 'Success', 'Failure (parachute)'),
 ('2012-05-22', '7:44:00', 'F9 v1.0  B0005', 'CCAFS LC-40', 'Dragon demo flight C2', 525, 'LEO (ISS)', 'NASA (COTS)', 'Success', 'No attempt'),
 ('2012-10-08', '0:35:00', 'F9 v1.0  B0006', 'CCAFS LC-40', 'SpaceX CRS-1', 500, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt'),
 ('2013-03-01', '15:10:00', 'F9 v1.0  B0007', 'CCAFS LC-40', 'SpaceX CRS-2', 677, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt')]

### Task 3




##### Display the total payload mass carried by boosters launched by NASA (CRS)

In [31]:
%sql select sum(payload_mass__kg_) as total_payload_mass from SPACEXTABLE where customer = 'NASA (CRS)';

 * sqlite:///my_data1.db
Done.

[(45596,)]

### Task 4




##### Display average payload mass carried by booster version F9 v1.1

In [32]:
%sql select avg(payload_mass__kg_) as average_payload_mass from SPACEXTABLE where booster_version like '%F9 v1.1%';

 * sqlite:///my_data1.db
Done.

[(2534.6666666666665,)]

### Task 5

##### List the date when the first succesful landing outcome in ground pad was acheived.


_Hint:Use min function_

In [33]:
%sql select min(date) as first_successful_landing from SPACEXTABLE where Landing_Outcome = 'Success (ground pad)';

 * sqlite:///my_data1.db
Done.

[('2015-12-22',)]

### Task 6

##### List the names of the boosters which have success in drone ship and have payload mass greater than 4000 but less than 6000

In [34]:
%sql select booster_version from SPACEXTABLE where Landing_Outcome = 'Success (drone ship)' and payload_mass__kg_ between 4000 and 6000;

 * sqlite:///my_data1.db
Done.

[('F9 FT B1022',), ('F9 FT B1026',), ('F9 FT  B1021.2',), ('F9 FT  B1031.2',)]

### Task 7




##### List the total number of successful and failure mission outcomes

In [35]:
%sql select mission_outcome, count(*) as total_number from SPACEXTABLE group by mission_outcome;

 * sqlite:///my_data1.db
Done.

[('Failure (in flight)', 1),
 ('Success', 98),
 ('Success ', 1),
 ('Success (payload status unclear)', 1)]

### Task 8



##### List the   names of the booster_versions which have carried the maximum payload mass. Use a subquery

In [36]:
%sql select booster_version from SPACEXTABLE where payload_mass__kg_ = (select max(payload_mass__kg_) from SPACEXTABLE);

 * sqlite:///my_data1.db
Done.

[('F9 B5 B1048.4',),
 ('F9 B5 B1049.4',),
 ('F9 B5 B1051.3',),
 ('F9 B5 B1056.4',),
 ('F9 B5 B1048.5',),
 ('F9 B5 B1051.4',),
 ('F9 B5 B1049.5',),
 ('F9 B5 B1060.2 ',),
 ('F9 B5 B1058.3 ',),
 ('F9 B5 B1051.6',),
 ('F9 B5 B1060.3',),
 ('F9 B5 B1049.7 ',)]

### Task 9


##### List the records which will display the month names, failure landing_outcomes in drone ship ,booster versions, launch_site for the months in year 2015.

**Note: SQLLite does not support monthnames. So you need to use  substr(Date, 6,2) as month to get the months and substr(Date,0,5)='2015' for year.**

In [37]:
%%sql SELECT * 
FROM SPACEXTABLE
WHERE Landing_Outcome = 'Failure (drone ship)' 
AND Date = '2015-04-14';

 * sqlite:///my_data1.db
Done.

[('2015-04-14', '20:10:00', 'F9 v1.1 B1015', 'CCAFS LC-40', 'SpaceX CRS-6', 1898, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'Failure (drone ship)')]

In [38]:
%sql SELECT DISTINCT SUBSTR(Date, 1, 4) AS year FROM SPACEXTABLE;

 * sqlite:///my_data1.db
Done.

[('2010',),
 ('2012',),
 ('2013',),
 ('2014',),
 ('2015',),
 ('2016',),
 ('2017',),
 ('2018',),
 ('2019',),
 ('2020',)]

In [39]:
%%sql SELECT SUBSTR(Date, 6, 2) AS month, Date, Booster_Version, Launch_Site, Landing_Outcome
FROM SPACEXTABLE
WHERE Landing_Outcome = 'Failure (drone ship)' 
AND SUBSTR(Date, 1, 4) = '2015';

 * sqlite:///my_data1.db
Done.

[('01', '2015-01-10', 'F9 v1.1 B1012', 'CCAFS LC-40', 'Failure (drone ship)'),
 ('04', '2015-04-14', 'F9 v1.1 B1015', 'CCAFS LC-40', 'Failure (drone ship)')]

In [40]:
%sql select SUBSTR(Date, 6, 2) AS month, date, Booster_Version, launch_site, Landing_Outcome from SPACEXTABLE;

 * sqlite:///my_data1.db
Done.

[('06', '2010-06-04', 'F9 v1.0  B0003', 'CCAFS LC-40', 'Failure (parachute)'),
 ('12', '2010-12-08', 'F9 v1.0  B0004', 'CCAFS LC-40', 'Failure (parachute)'),
 ('05', '2012-05-22', 'F9 v1.0  B0005', 'CCAFS LC-40', 'No attempt'),
 ('10', '2012-10-08', 'F9 v1.0  B0006', 'CCAFS LC-40', 'No attempt'),
 ('03', '2013-03-01', 'F9 v1.0  B0007', 'CCAFS LC-40', 'No attempt'),
 ('09', '2013-09-29', 'F9 v1.1  B1003', 'VAFB SLC-4E', 'Uncontrolled (ocean)'),
 ('12', '2013-12-03', 'F9 v1.1', 'CCAFS LC-40', 'No attempt'),
 ('01', '2014-01-06', 'F9 v1.1', 'CCAFS LC-40', 'No attempt'),
 ('04', '2014-04-18', 'F9 v1.1', 'CCAFS LC-40', 'Controlled (ocean)'),
 ('07', '2014-07-14', 'F9 v1.1', 'CCAFS LC-40', 'Controlled (ocean)'),
 ('08', '2014-08-05', 'F9 v1.1', 'CCAFS LC-40', 'No attempt'),
 ('09', '2014-09-07', 'F9 v1.1 B1011', 'CCAFS LC-40', 'No attempt'),
 ('09', '2014-09-21', 'F9 v1.1 B1010', 'CCAFS LC-40', 'Uncontrolled (ocean)'),
 ('01', '2015-01-10', 'F9 v1.1 B1012', 'CCAFS LC-40', 'Failure (drone ship)'),
 ('02', '2015-02-11', 'F9 v1.1 B1013', 'CCAFS LC-40', 'Controlled (ocean)'),
 ('03', '2015-03-02', 'F9 v1.1 B1014', 'CCAFS LC-40', 'No attempt'),
 ('04', '2015-04-14', 'F9 v1.1 B1015', 'CCAFS LC-40', 'Failure (drone ship)'),
 ('04', '2015-04-27', 'F9 v1.1 B1016', 'CCAFS LC-40', 'No attempt'),
 ('06', '2015-06-28', 'F9 v1.1 B1018', 'CCAFS LC-40', 'Precluded (drone ship)'),
 ('12', '2015-12-22', 'F9 FT B1019', 'CCAFS LC-40', 'Success (ground pad)'),
 ('01', '2016-01-17', 'F9 v1.1 B1017', 'VAFB SLC-4E', 'Failure (drone ship)'),
 ('03', '2016-03-04', 'F9 FT B1020', 'CCAFS LC-40', 'Failure (drone ship)'),
 ('04', '2016-04-08', 'F9 FT B1021.1', 'CCAFS LC-40', 'Success (drone ship)'),
 ('05', '2016-05-06', 'F9 FT B1022', 'CCAFS LC-40', 'Success (drone ship)'),
 ('05', '2016-05-27', 'F9 FT B1023.1', 'CCAFS LC-40', 'Success (drone ship)'),
 ('06', '2016-06-15', 'F9 FT B1024', 'CCAFS LC-40', 'Failure (drone ship)'),
 ('07', '2016-07-18', 'F9 FT B1025.1', 'CCAFS LC-40', 'Success (ground pad)'),
 ('08', '2016-08-14', 'F9 FT B1026', 'CCAFS LC-40', 'Success (drone ship)'),
 ('01', '2017-01-14', 'F9 FT B1029.1', 'VAFB SLC-4E', 'Success (drone ship)'),
 ('02', '2017-02-19', 'F9 FT B1031.1', 'KSC LC-39A', 'Success (ground pad)'),
 ('03', '2017-03-16', 'F9 FT B1030', 'KSC LC-39A', 'No attempt'),
 ('03', '2017-03-30', 'F9 FT  B1021.2', 'KSC LC-39A', 'Success (drone ship)'),
 ('05', '2017-05-01', 'F9 FT B1032.1', 'KSC LC-39A', 'Success (ground pad)'),
 ('05', '2017-05-15', 'F9 FT B1034', 'KSC LC-39A', 'No attempt'),
 ('06', '2017-06-03', 'F9 FT B1035.1', 'KSC LC-39A', 'Success (ground pad)'),
 ('06', '2017-06-23', 'F9 FT  B1029.2', 'KSC LC-39A', 'Success (drone ship)'),
 ('06', '2017-06-25', 'F9 FT B1036.1', 'VAFB SLC-4E', 'Success (drone ship)'),
 ('07', '2017-07-05', 'F9 FT B1037', 'KSC LC-39A', 'No attempt'),
 ('08', '2017-08-14', 'F9 B4 B1039.1', 'KSC LC-39A', 'Success (ground pad)'),
 ('08', '2017-08-24', 'F9 FT B1038.1', 'VAFB SLC-4E', 'Success (drone ship)'),
 ('09', '2017-09-07', 'F9 B4 B1040.1', 'KSC LC-39A', 'Success (ground pad)'),
 ('10', '2017-10-09', 'F9 B4 B1041.1', 'VAFB SLC-4E', 'Success (drone ship)'),
 ('10', '2017-10-11', 'F9 FT  B1031.2', 'KSC LC-39A', 'Success (drone ship)'),
 ('10', '2017-10-30', 'F9 B4 B1042.1', 'KSC LC-39A', 'Success (drone ship)'),
 ('12', '2017-12-15', 'F9 FT  B1035.2', 'CCAFS SLC-40', 'Success (ground pad)'),
 ('12', '2017-12-23', 'F9 FT  B1036.2', 'VAFB SLC-4E', 'Controlled (ocean)'),
 ('01', '2018-01-08', 'F9 B4 B1043.1', 'CCAFS SLC-40', 'Success (ground pad)'),
 ('01', '2018-01-31', 'F9 FT  B1032.2', 'CCAFS SLC-40', 'Controlled (ocean)'),
 ('02', '2018-02-22', 'F9 FT  B1038.2', 'VAFB SLC-4E', 'No attempt'),
 ('03', '2018-03-06', 'F9 B4 B1044', 'CCAFS SLC-40', 'No attempt'),
 ('03', '2018-03-30', 'F9 B4  B1041.2', 'VAFB SLC-4E', 'No attempt'),
 ('04', '2018-04-02', 'F9 B4  B1039.2', 'CCAFS SLC-40', 'No attempt'),
 ('04', '2018-04-18', 'F9 B4 B1045.1', 'CCAFS SLC-40', 'Success (drone ship)'),
 ('05', '2018-05-11', 'F9 B5  B1046.1', 'KSC LC-39A', 'Success (drone ship)'),
 ('05', '2018-05-22', 'F9 B4  B1043.2', 'VAFB SLC-4E', 'No attempt'),
 ('06', '2018-06-04', 'F9 B4  B1040.2', 'CCAFS SLC-40', 'No attempt'),
 ('06', '2018-06-29', 'F9 B4 B1045.2', 'CCAFS SLC-40', 'No attempt'),
 ('07', '2018-07-22', 'F9 B5B1047.1', 'CCAFS SLC-40', 'Success'),
 ('07', '2018-07-25', 'F9 B5B1048.1', 'VAFB SLC-4E', 'Success'),
 ('08', '2018-08-07', 'F9 B5 B1046.2', 'CCAFS SLC-40', 'Success'),
 ('09', '2018-09-10', 'F9 B5B1049.1', 'CCAFS SLC-40', 'Success'),
 ('10', '2018-10-08', 'F9 B5 B1048.2', 'VAFB SLC-4E', 'Success'),
 ('11', '2018-11-15', 'F9 B5 B1047.2', 'KSC LC-39A', 'Success'),
 ('12', '2018-12-03', 'F9 B5 B1046.3', 'VAFB SLC-4E', 'Success'),
 ('12', '2018-12-05', 'F9 B5B1050', 'CCAFS SLC-40', 'Failure'),
 ('12', '2018-12-23', 'F9 B5B1054', 'CCAFS SLC-40', 'No attempt'),
 ('01', '2019-01-11', 'F9 B5 B1049.2', 'VAFB SLC-4E', 'Success'),
 ('02', '2019-02-22', 'F9 B5 B1048.3', 'CCAFS SLC-40', 'Success'),
 ('03', '2019-03-02', 'F9 B5B1051.1', 'KSC LC-39A', 'Success'),
 ('05', '2019-05-04', 'F9 B5B1056.1 ', 'CCAFS SLC-40', 'Success'),
 ('05', '2019-05-24', 'F9 B5 B1049.3', 'CCAFS SLC-40', 'Success'),
 ('06', '2019-06-12', 'F9 B5 B1051.2 ', 'VAFB SLC-4E', 'Success'),
 ('07', '2019-07-25', 'F9 B5 B1056.2 ', 'CCAFS SLC-40', 'Success'),
 ('08', '2019-08-06', 'F9 B5 B1047.3 ', 'CCAFS SLC-40', 'No attempt '),
 ('11', '2019-11-11', 'F9 B5 B1048.4', 'CCAFS SLC-40', 'Success'),
 ('12', '2019-12-05', 'F9 B5B1059.1', 'CCAFS SLC-40', 'Success'),
 ('12', '2019-12-17', 'F9 B5 B1056.3 ', 'CCAFS SLC-40', 'Success'),
 ('01', '2020-01-07', 'F9 B5 B1049.4', 'CCAFS SLC-40', 'Success'),
 ('01', '2020-01-19', 'F9 B5 B1046.4', 'KSC LC-39A', 'No attempt'),
 ('01', '2020-01-29', 'F9 B5 B1051.3', 'CCAFS SLC-40', 'Success'),
 ('02', '2020-02-17', 'F9 B5 B1056.4', 'CCAFS SLC-40', 'Failure'),
 ('03', '2020-03-07', 'F9 B5 B1059.2', 'CCAFS SLC-40', 'Success'),
 ('03', '2020-03-18', 'F9 B5 B1048.5', 'KSC LC-39A', 'Failure'),
 ('04', '2020-04-22', 'F9 B5 B1051.4', 'KSC LC-39A', 'Success'),
 ('05', '2020-05-30', 'F9 B5B1058.1 ', 'KSC LC-39A', 'Success'),
 ('06', '2020-06-04', 'F9 B5 B1049.5', 'CCAFS SLC-40', 'Success'),
 ('06', '2020-06-13', 'F9 B5 B1059.3', 'CCAFS SLC-40', 'Success'),
 ('06', '2020-06-30', 'F9 B5B1060.1', 'CCAFS SLC-40', 'Success'),
 ('07', '2020-07-20', 'F9 B5 B1058.2 ', 'CCAFS SLC-40', 'Success'),
 ('08', '2020-08-07', 'F9 B5 B1051.5', 'KSC LC-39A', 'Success'),
 ('08', '2020-08-18', 'F9 B5 B1049.6', 'CCAFS SLC-40', 'Success'),
 ('08', '2020-08-30', 'F9 B5 B1059.4', 'CCAFS SLC-40', 'Success'),
 ('09', '2020-09-03', 'F9 B5 B1060.2 ', 'KSC LC-39A', 'Success'),
 ('10', '2020-10-06', 'F9 B5 B1058.3 ', 'KSC LC-39A', 'Success'),
 ('10', '2020-10-18', 'F9 B5 B1051.6', 'KSC LC-39A', 'Success'),
 ('10', '2020-10-24', 'F9 B5 B1060.3', 'CCAFS SLC-40', 'Success'),
 ('11', '2020-11-05', 'F9 B5B1062.1', 'CCAFS SLC-40', 'Success'),
 ('11', '2020-11-16', 'F9 B5B1061.1 ', 'KSC LC-39A', 'Success'),
 ('11', '2020-11-21', 'F9 B5B1063.1', 'VAFB SLC-4E', 'Success'),
 ('11', '2020-11-25', 'F9 B5 B1049.7 ', 'CCAFS SLC-40', 'Success'),
 ('12', '2020-12-06', 'F9 B5 B1058.4 ', 'KSC LC-39A', 'Success')]

### Task 10




##### Rank the count of landing outcomes (such as Failure (drone ship) or Success (ground pad)) between the date 2010-06-04 and 2017-03-20, in descending order.

In [43]:
%%sql select Landing_Outcome, count(*) as count_outcomes from SPACEXTABLE
      where date between '2010-06-04' and '2017-03-20'
      group by Landing_Outcome
      order by count_outcomes desc;

 * sqlite:///my_data1.db
Done.

[('No attempt', 10),
 ('Success (drone ship)', 5),
 ('Failure (drone ship)', 5),
 ('Success (ground pad)', 3),
 ('Controlled (ocean)', 3),
 ('Uncontrolled (ocean)', 2),
 ('Failure (parachute)', 2),
 ('Precluded (drone ship)', 1)]

### Reference Links

* <a href ="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20String%20Patterns%20-%20Sorting%20-%20Grouping/instructional-labs.md.html?origin=www.coursera.org">Hands-on Lab : String Patterns, Sorting and Grouping</a>  

*  <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Built-in%20functions%20/Hands-on_Lab__Built-in_Functions.md.html?origin=www.coursera.org">Hands-on Lab: Built-in functions</a>

*  <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Sub-queries%20and%20Nested%20SELECTs%20/instructional-labs.md.html?origin=www.coursera.org">Hands-on Lab : Sub-queries and Nested SELECT Statements</a>

*   <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-3-SQLmagic.ipynb">Hands-on Tutorial: Accessing Databases with SQL magic</a>

*  <a href= "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-4-Analyzing.ipynb">Hands-on Lab: Analyzing a real World Data Set</a>

## Author(s)

<h4> Lakshmi Holla </h4>

## Other Contributors

<h4> Rav Ahuja </h4>

<!--
## Change log
| Date | Version | Changed by | Change Description |
|------|--------|--------|---------|
| 2024-07-10 | 1.1 |Anita Verma | Changed Version|
| 2021-07-09 | 0.2 |Lakshmi Holla | Changes made in magic sql|
| 2021-05-20 | 0.1 |Lakshmi Holla | Created Initial Version |
-->

## <h3 align="center"> © IBM Corporation 2021. All rights reserved. <h3/>